<div class="container-box">
  <div class="card-visa">
    <div class="flip-card-inner" id="inner">
      <div class="card-before">
        <div class="icon-visa">
          <div><img style="border-radius: 9px;" class="img-tem" src="../assets/image/Capturetem.PNG" height="45" width="65"/></div>
          <div><img  src="../assets/image/Capture212121.PNG" height="45" width="65"/></div>
        </div>
        <div class="row">
          <div class="card-number col-md-12">
            <span *ngFor="let num of cardNumberInitial1; let i = index">{{cardNumberInitial1[i]}}</span>
          </div>
          <div class="card-holder col-md-8">
            <span>Card holder</span><br>
            <p style="font-weight: bold">{{cardName | uppercase}}</p>
          </div>
          <div class="expires col-md-3">
            <span>Expires</span><br>
            {{m}}/{{yCard}}
          </div>
        </div>
      </div>
      <div class="card-after">
        <div class="code-black col-md-12">

        </div>
        <div class="cvv-after">
          <div class="form-group">
            <label for="name" style="float: right">CVV</label><br>
            <input class="value-card-cvv" value="{{cvv}}" readonly/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit();addForm.reset()">
    <div class="frames">
      <div class="form-group">
        <label for="number">Card Number</label>
        <input [(ngModel)]="cardNumber" type="text" maxlength="16" (click)="showBorderNumber()"
               (input)="replaceWordToEmpty($event)"
               class="form-control" id="number"
               formControlName="cardNumber"
               name="cardNumber"
               placeholder="Card Number"
               (keyup.backspace)="KeyCheck($event)"
               [ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors}"
        >
        <div *ngIf="submitted && f.cardNumber.errors" class="invalid-feedback">
          <div *ngIf="f.cardNumber.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Card Name</label>
        <input [(ngModel)]="cardName" (click)="showBorderName()" type="text" class="form-control"
               id="name"
               name="name"
               formControlName="name"
               placeholder="Card Name"
               [ngClass]="{ 'is-invalid': submitted && f.name.errors}">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label>Expiration Date</label>
          <select (click)="showBorderExpires()" [(ngModel)]="m" formControlName="month" class="form-control" id="exampleFormControlSelect1">
            <option value="" disabled selected>Month</option>
            <option value="{{m}}" *ngFor="let m of month">{{m}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label></label>
          <select (click)="showBorderExpires()" [(ngModel)]="y" formControlName="year" class="form-control" id="exampleFormControlSelect2">
            <option value="" disabled selected>Year</option>
            <option value="{{y}}" *ngFor="let y of year">{{y}}</option>
          </select>
        </div>
        <div (click)="transformCard()" class="form-group col-md-4">
          <label for="cvv">CVV</label>
          <input [(ngModel)]="cvv" formControlName="cvv" name="cvv" onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="4" type="text"
                 class="form-control" id="cvv">
        </div>
      </div>

      <button id="submit" type="submit" class="btn btn-primary col-md-12">Submit</button>
    </div>
  </form>
</div>

